body {
    /* fonte do texto */
    font-family: Arial, sans-serif;
    background-color: skyblue;
    /* usa modelo FlexBox, conceito de caixa para posicionamento */
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    height: 100vh; /* altura da página 100% da altura da página*/
    align-items: center; /* centraliza na vertical */

}
.container {
    background-color: rgb(0, 183, 255);
    padding: 20px; /* espaçamento interno */
    border-radius: 10px; /* borda */
    text-align: center; /* texto centralizado */
    box-shadow: 4px 8px 12px ; /* sombra */
}
button {
    background-color: rgb(0, 192, 0);
    color: white; 
    border: none;
    padding: 10px 20px; /* 10 abaixo e 10 acima e 20 esquerda e 20 direita */
}
button:hover { /* ao passar o mouse em cima do botão */
    background-color: rgb(0, 77, 0);
}

.foto {
    border-radius: 15%; /* borda com cantos arredondados*/
    width: 100px; /* largura */
    height: 100px; /* altura */
    margin-bottom: 10px;  /* espaçamento externo abaixo */
}
